@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --primary_color: #565387;
  --secondary_color: #3498db;
  --text_primary:rgb(34, 34, 34,0.5);
  --text_secondary: #afafb6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

.nav_container {
  top: 0;
  position: fixed;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem 0 10rem;
  width: 100%;
  z-index: 2;
  background-color: #fff;
}

.logo {
  text-decoration: none;
  font-size: 3.5rem !important;
  color: var(--primary_color) !important;
  border-bottom: none !important;
  font-weight: 600;
}

.nav {
  list-style: none;
  display: flex;
}

.nav li {
  margin: 0 2rem;
}

.nav li a {
  font-size: 1.8rem !important;
  letter-spacing: 0.1rem;
  color: var(--primary_color) !important;
  text-decoration: none;
  padding-bottom: 1rem;
  transition: all 0.3s ease;
}

.active {
  border-bottom: 1px solid var(--primary_color);
  font-weight: 600;
}

.menu_btn {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

#click {
  display: none;
}

/* Common */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 2rem 10rem;
}

.info {
  width: 50%;
}
.info h1 {
  color: var(--primary_color);
  font-size: 7rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.brand_name {
  color: var(--secondary_color);
  font-weight: 600;
}

.info h2 {
  color: var(--text_primary);
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.btn {
  color: #000;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 1px;
  display: inline-block;
  padding: 1rem 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--secondary_color);
  text-decoration: none;
  transition: 0.5s;
  border-radius: 5rem;
}

.btn:hover {
  background: var(--secondary_color);
  color: #fff;
}

.img_container {
  width: 50%;
}
.img {
  width: 100%;
  margin: 0;
}

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(-1rem);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(-1rem);
  }
}

/* Services page */
.service_container {
  width: 100vw;
  margin-top: 10rem;
}
.service_container h1 {
  text-align: center;
  font-size: 4.8rem;
  color: var(--primary_color);
  font-weight: 500;
}
.card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  padding: 5rem 10rem;
}

.card {
  width: 35rem;
  height: 52rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1.2rem;
  padding: 2rem;
  position: relative;
}

.card .img_container {
  width: 100%;
}
.card img {
  width: 100%;
}

.card_title {
  font-size: 2.2rem;
  margin: 0.5rem 0;
  font-weight: 500;
}

.card_text {
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text_primary);
}

.card_btn {
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

/* contact */
.contact_container {
  margin-top: 8rem;
  width: 100vw;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading h1 {
  font-size: 4.8rem;
  font-weight: 500;
  color: var(--primary_color);
  margin-bottom: 1rem;
  text-align: center;
}

.heading h5 {
  font-size: 2rem;
  font-weight: normal;
  color: var(--text_primary);
  margin-bottom: 3rem;
  text-align: center;
}
.form_container {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: auto;
  height: auto;
  border-radius: 2rem;
}
.contact_info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.icons_container {
  cursor: pointer;
  padding: 2rem 4rem;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
}

.icons_container h4 {
  font-size: 1.8rem;
}
.icons_container p {
  font-size: 1.4rem;
  color: var(--text_secondary);
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
}

form h3 {
  font-size: 3rem;
  color: var(--text_tertiary);
  font-weight: 500;
}

form label {
  font-size: 1.8rem;
  color: var(--text_primary);
  margin: 1rem 0 0.5rem 0;
}

form input,
form textarea {
  font-size: 1.8rem;
  padding: 1.2rem 1rem;
  width: 35rem;
  outline: none;
  border: none;
  border: 0.5px solid gainsboro;
  border-radius: 1rem;
}

form textarea {
  resize: none;
}

form button {
  margin-top: 2rem;
  padding: 2rem 1rem;
  width: 15rem;
  border-radius: 1.2rem;
  border: none;
  outline: none;
  border: 0.5px solid gainsboro;
  color: #000;
  background-color: transparent;
  font-size: 1.4rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

form button:hover {
  background-color: var(--secondary_color);
  color: #fff;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  background-color: rgb(52, 152, 219, 0.1);
  margin-bottom: 1rem;
}

footer p {
  font-size: 1.6rem;
  color: var(--text_primary);
}
